fastapi
uvicorn
sqlalchemy
python-dotenv
passlib==1.7.4
bcrypt==4.0.1
email-validator
python-multipart
itsdangerous
pydantic
pydantic-settings
stripe
httpx
requests
alembic==1.18.5
sentry-sdk==2.66.0
httpx